<h2>{{ vm.country.countryName }}</h2>

<dl>
	<dt>Population</dt>
	<dd>{{ vm.country.population | number : 0 }}</dd>

	<dt>Area</dt>
	<dd>{{ vm.country.areaInSqKm | number : 0 }} square km</dd>

	<dt>Capital</dt>
	<dd>{{ vm.country.capital }}</dd>

	<dt>Population of capital</dt>
	<dd>{{ vm.country.population | number : 0 }}</dd>

	<dt>3 neighbours</dt>
	<dd><ul>
		<li><a href="#/countries/CA">Canada</a></li>
		<li><a href="#/countries/XX">Cuba</a></li>
		<li><a href="#/countries/MX">Mexico</a></li>
	</ul></dd>
</dl>

<div class="wireframe-image">MAP</div>

<div class="wireframe-image">FLAG</div>
