<h2>{{ vm.country.countryName }}</h2>

<leaflet id="map" defaults="vm.map.config" tiles="vm.map.tiles" maxbounds="vm.map.maxbounds" markers="vm.map.markers"></leaflet>

<dl>
	<dt>Population</dt>
	<dd>{{ vm.country.population | number : 0 }}</dd>

	<dt>Area</dt>
	<dd>{{ vm.country.areaInSqKm | number : 0 }} square km</dd>

	<dt>Capital</dt>
	<dd>{{ vm.country.capital.name }}</dd>

	<dt class="lazy" ng-show="vm.country.capital.population">Population of capital</dt>
	<dd class="lazy" ng-show="vm.country.capital.population">{{ vm.country.capital.population | number : 0 }}</dd>

	<dt class="lazy" ng-show="vm.neighbours"><ng-pluralize count="vm.neighbours.length" when="{ 0: 'No neighbours', 1: 'One neighbour', other: '{} neigbours'}"></ng-pluralize></dt>
	<dd class="lazy" ng-show="vm.neighbours">
		<span ng-if="vm.neighbours.length < 1">-</span>
		<span ng-repeat="neighbour in vm.neighbours"><a href="#/countries/{{ neighbour.countryCode }}">{{ neighbour.countryName }}</a><span ng-if=" ! $last">, </span></span>
	</dd>
</dl>

<div class="map"><img ng-src="http://www.geonames.org/img/country/250/{{ vm.country.countryCode | uppercase }}.png" alt="Map of {{ vm.country.countryName }}"></div>

<div class="flag"><img ng-src="http://www.geonames.org/flags/x/{{ vm.country.countryCode | lowercase }}.gif" alt="Flag of {{ vm.country.countryName }}"></div>


<nav>
	<a href="#/">Home</a>
	<a href="#/countries">Browse countries</a>
</nav>