body {
	font: 100%/1.5 "Merriweather", Georgia, serif;
	background: #fcfbfa;
	color: #321;
	margin: 0;
	padding: 2em;
}
h1 {
	margin-top: 0;
}


.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba( 0, 0, 0, 0.88 );
	height: 100%;
	z-index: 10000; /* above leaflet controls */
	text-align: center;
	color: #fff;
	padding: 2em 0;
	box-sizing: border-box;
}
.loading progress,
.loading strong,
.loading canvas {
	display: block;
	margin: 1em auto;
}


.number {
	text-align: right;
}


/* table styles */
table {
	border-collapse: collapse;
	overflow: hidden;
}
tr:nth-child(2n) {
	background: rgba( 0, 0, 0, 0.03 );
}
tr.country.ng-enter-stagger {
	transition-delay: 10ms;
	transition-duration: 0;
}
tr.country.ng-enter {
	transform: translateX( 100% );
	opacity: 0;
	transition: transform cubic-bezier(.28,.94,.79,1.06) .3s, opacity cubic-bezier(1,0,1,1) .33s;
}
tr.country.ng-enter-active {
	transform: translateX( 0 );
	opacity: 1;
}
th, td {
	text-align: left;
	font-weight: normal;
	padding: .5em .7em .2em;
}
tr:last-child th,
tr:last-child td {
	border-bottom: 1px solid #321;
}


/* leaflet */
#map {
	width: 100%;
	height: 500px;
}


/* fade in population */
.lazy.ng-hide-remove {
	display: block !important;
	opacity: 0;
}
.lazy {
	opacity: 1;
	transition: opacity .7s;
}


/* nav buttons */
nav {
	margin: 2em 0;
}
nav a {
	display: inline-block;
	background: #321;
	color: #fcfbfa;
	padding: .3em 1em;
}