body {
	font: 100%/1.5 "Merriweather", Georgia, serif;
	background: #fcfbfa;
	color: #321;
	margin: 0;
	padding: 2em;
}
h1 {
	margin-top: 0;
}


.number {
	text-align: right;
}


table {
	border-collapse: collapse;
}
th, td {
	text-align: left;
	font-weight: normal;
	padding: .5em .7em .2em;
}
th:first-child, td:first-child {
	padding-left: 0;
}
th:last-child, td:last-child {
	padding-right: 0;
}
thead th {
	border-bottom: 1px solid #321;
}

/* nav buttons */
nav {
	margin: 2em 0;
}
nav a {
	display: inline-block;
	background: #321;
	color: #fcfbfa;
	padding: .3em 1em;
}