<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Code</th>
			<th>Capital</th>
			<th>Area (km<sup>2</sup>)</th>
			<th>Population</th>
			<th>Continent</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="country in countries.countries">
			<td><a href="#/countries/{{ country.code }}/">{{ country.countryName }}</a></td>
			<td>{{ country.countryCode }}</td>
			<td>{{ country.capital }}</td>
			<td>{{ country.areaInSqKm }}</td>
			<td>{{ country.population }}</td>
			<td>{{ country.continentName }}</td>
		</tr>
	</tbody>
</table>


<nav>
	<a href="#/">Home</a>
</nav>